{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-jinja-template"],
  "tailwindConfig": "./tailwind.config.js",
  "overrides": [
    {
      "files": ["*.html", "*.jinja", "*.j2"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
