<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}YouTube Comments Analyzer{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind CSS (built) -->
    <link
      href="{{ url_for('static', path='css/tailwind.css') }}"
      rel="stylesheet"
    />
  </head>
  <body
    class="text-base-content flex flex-col overscroll-none"
    hx-ext="response-targets"
  >
    <header class="navbar">
      <div
        class="mx-auto flex w-full items-center justify-between lg:container"
      >
        <a href="/" class="text-xl font-bold">YT Comments Analyzer</a>
        {% block nav %}{% endblock %}
      </div>
    </header>
    <main
      class="mx-auto flex w-full flex-col px-4 lg:container lg:px-8"
      id="main-block"
    >
      {% block content %}{% endblock %}
    </main>
    <!-- JS -->
    <script src="{{ url_for('static', path='js/bundle.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
